@model List<PatientCommentGetVM>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Pasient şərhləri</h4>
            <div class="table-responsive">
                <a asp-action="Create" class="btn btn-success">Yarat</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Şəkil</th>
                            <th>Ad</th>
                            <th>Şərh</th>
                            <th>Vəzifə</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comment in Model)
                        {
                        <tr>

                            <td>@count</td>
                            <td><img src="~/assets/images/Patients/@comment.Image" alt="Alternate Text" /></td>
                            <td>@comment.Fullname</td>
                            <td>@comment.Comment</td>
                            <td>@comment.Profession</td>


                            <td>
                                <a class="btn btn-warning" asp-controller="PatientComment" asp-action="Update" asp-route-id="@comment.Id">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <form method="post" asp-action="Delete">
                                    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@comment.Id">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </form>

                            </td>

                        </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

